body {
  height: 100vh;
  background: rgb(135, 133, 145);
  background: linear-gradient(120deg, rgba(135, 133, 145, 1) 3%, rgba(150, 214, 201, 1) 20%, rgba(215, 221, 220, 1) 47%, rgba(138, 204, 192, 1) 71%, rgba(255, 255, 255, 1) 94%, rgba(192, 202, 201, 1) 100%);
}

.text {
  background-color: rgba(46, 43, 43, 0.253);
  color: white;
  font-weight: normal;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 48%;
  left: 13%;
  width: 20%;
  padding: 12px;

}

.text span {
  font-size: 14px;
}

.text p {
  font-size: 11px;
  font-weight: bold;
}

.bg {
  background-image: url('eade-business.gif');
  background-repeat: repeat;
  background-size: cover;
  height: 100%;
  width: 105%;
  filter: blur(2px);
  color: white;
  position: relative;
  border-radius: 10px;
}

.color {
  color: #50b996;
}

button {
  width: 99px;
  height: 34px;
  padding: 3px;
  color: white;
  background-color: #50b996;
  border: none;
}

.postion {
  position: relative;
}

.postion h2 {
  font-family: cursive;
  font-size: 50px;
}

.postion p {
  font-size: 13px;
}

button {
  width: 50%;
}

button:hover {
  border: 1px solid #50b996;
  color: #50b996;
  background-color: white;
}

input:hover {
  border: 2px solid #50b996;
}

.toast_style {
  position: absolute;
  background-color: #50b996;
  top: 4px;
  color: #ffffff;
  right: 0;
  width: 197px;
  border-radius: 5px;
}

.form {
  position: relative;
}

.textbox {
  border: 1px solid #50b996;
  border-radius: 20px;
  outline: none;
  background: none;
  padding: 10px;
  color: black;
  width: 100%;
  height: 44px;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  cursor: text;
  transition: 0.5s;
  pointer-events: none;
  font-size: 15px;
  padding: 10px;
}

.textbox:focus+.form-label,
.textbox:valid+.form-label {
  top: 15%;
  left: 25px;
  color: #50b996;
  padding: 3px;
  font-size: 12x;
  background: white;
}

span i {
  color: #deb887;
  color: #4e5599;
  font-size: 11px;
  font-weight: bold;
}
.thestyle:hover{
  background-color: #4e5599;
}
.thestyle{
  background-color: #4e5599;
}