.bg img {
  background-repeat: repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.bg {
  height: 100vh;
}

.color {
  color: #50b996;
}

button {
  width: 99px;
  height: 34px;
  padding: 3px;
  color: white;
  background-color: #50b996;
  border: none;
}

.postion {
  position: relative;
  width: 60%;
}

.child {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 122px;
  left: 31%;
}

.postion h2 {
  font-family: cursive;
  font-size: 50px;
}

.postion p {
  font-size: 13px;
}

button {
  width: 50%;
}

button:hover {
  border: 1px solid #50b996;
  color: #50b996;
  background-color: white;
}

input:hover {
  border: 2px solid #50b996;
}

.toast_style {
  position: absolute;
  background-color: #50b996;
  top: 4px;
  color: #ffffff;
  right: 0;
  width: 197px;
  border-radius: 5px;
}

.form {
  position: relative;
}

.textbox {
  border: 1px solid #50b996;
  border-radius: 20px;
  outline: none;
  background: none;
  padding: 10px;
  color: black;
  width: 100%;
  height: 44px;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  cursor: text;
  transition: 0.5s;
  pointer-events: none;
  font-size: 15px;
  padding: 10px;
}

.textbox:focus+.form-label,
.textbox:valid+.form-label {
  top: 15%;
  left: 25px;
  color: #50b996;
  padding: 3px;
  font-size: 12x;
  background: white;
}

.thestyle:hover {
  background-color: #4e5599;
}

.thestyle {
  background-color: #4e5599;
}

.link:hover {
  color: #50b996;
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 12px;
}